
Shapes/.vs/Shapes/FileContentIndex/228268b1-3c0d-4a74-8512-0533710ff830.vsidx
Shapes/.vs/Shapes/v17/.suo
Shapes/.vs/Shapes/v17/Browse.VC.db
Shapes/.vs/Shapes/v17/.suo
Shapes/.vs/Shapes/v17/Browse.VC.db
*.vsidx
*.lock
*.ipch
*.recipe
*.obj
*.ilk
*.log
*.tlog
*.idb
*.pdb
Shapes/x64/Debug/Shapes.exe
*.db-shm
*.db-wal
*.opendb
*.iobj
*.ipdb
*.exe
